<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.user.userMapper">
	
	<select id="getUserList" resultType="com.myblog.user.model.UserVO">
		SELECT
			*
		FROM
			TBL_USER
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='uid' and keyword != null and keyword != '' ">
				AND UID like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='name' and keyword != null and keyword != '' ">
				AND NAME like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='email' and keyword != null and keyword != '' ">
				AND EMAIL like CONCAT('%', #{keyword}, '%')
			</if>	
		</trim>
		LIMIT #{startList}, #{listSize}
	</select>

	<select id="getUserInfo" resultType="com.myblog.user.model.UserVO">
		SELECT *
		FROM
			TBL_USER
		WHERE
			UID = #{uid}
	</select>
	
	<insert id="insertUser" parameterType="com.myblog.user.model.UserVO">
		INSERT INTO TBL_USER(UID, NAME, PWD, EMAIL, ENABLED, REG_DT)
		VALUES(#{uid}, #{name}, #{pwd}, #{email}, #{enabled}, now())
	</insert>
	
	<update id="updateUser" parameterType="com.myblog.user.model.UserVO">
		UPDATE TBL_USER SET
			NAME = #{name},
			PWD = #{pwd},
			EMAIL = #{email},
			ENABLED = #{enabled}
		WHERE
			UID = #{uid}
	</update>
	
	<delete id="deleteUser" parameterType="com.myblog.user.model.UserVO">
		DELETE FROM TBL_USER
		WHERE UID = #{uid}
	</delete>
	
	<select id="validateUser" resultType="int">
		SELECT COUNT(*)
		FROM
			TBL_USER
		WHERE 
			UID = #{uid}
	</select>
	
	<select id="loginUser" resultType="String">
		SELECT 
			UID
		FROM
			TBL_USER
		WHERE
			UID = #{uid} AND PWD = #{pwd}
	</select>
	
	<select id="getUserListCnt" resultType="int">
		SELECT
			count(*) as listCnt
		FROM
			TBL_USER
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="keyword != null and keyword != '' ">
				<if test="searchType=='uid'">
					AND UID like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType=='name'">
					AND NAME like CONCAT('%', #{keyword}, '%')
				</if>
				<if test="searchType=='email'">
					AND EMAIL like CONCAT('%', #{keyword}, '%')
				</if>
	        </if>
		</trim>
	</select>
	
</mapper>